.idea/workspace.xml
*.pyc
abap/**/*
C/**/*
c99/**/*
clisp/**/*
cpp/**/*
csharp/**/*
dart/**/*
elixir/**/*
fsharp/**/*
go/**/*
Groovy/**/*
haskell/**/*
Java/**/*
Java-Spock/**/*
Kotlin/**/*
js/**/*
perl/**/*
php/**/*
plsql/**/*
python/**/*
R/**/*
rust/**/*
scala/**/*
Smalltalk/**/*
swift/**/*
